<form #editClient="ngForm" class="center-block w-75" style="max-width: 850px;">
  <div class="form-group">
    <div class="row">
      <div class="col">
          <h5 class="mb-3">{{title}} לקוח</h5>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              שם הלקוח <span style="color:red">*</span>
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.name" id="name" name="name" required
          [ngClass]="{'border border-danger': editClient.controls.name?.invalid}" maxlength="100"
          >
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              ח"פ/עוסק מורשה <span style="color:red">*</span>
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.hetpei" id="hetpei" name="hetpei" OnlyNumber="true" minlength="6" maxlength="10" required
          [ngClass]="{'border border-danger': editClient.controls.hetpei?.invalid}">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              כתובת למשלוח
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.address" id="address" name="address">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              טלפון
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.phone" id="phone" name="phone" pattern="^0\d([\d]{0,1})([-]{0,1})\d{7}$"
          [ngClass]="{'border border-danger': editClient.controls.phone?.invalid}">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              דוא"ל
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.email" id="email" name="email"
          [ngClass]="{'border border-danger': editClient.controls.email?.invalid && (editClient.controls.email?.dirty || editClient.controls.email?.touched)}"
          pattern="[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              איש קשר
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.contact_person" id="contact_person" name="contact_person">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              איש קשר לתשלום
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.payment_person" id="payment_person" name="payment_person">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              טלפון לתשלום
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.payment_phone" id="payment_phone" name="payment_phone" pattern="^0\d([\d]{0,1})([-]{0,1})\d{7}$"
          [ngClass]="{'border border-danger': editClient.controls.payment_phone?.invalid}">
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              משך נסיעה
            </div>
          </div>
          <ngb-timepicker [(ngModel)]="travel_duration" id="travel_duration" name="travel_duration" dir="ltr"></ngb-timepicker>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              קבוצה
            </div>
          </div>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary" id="group" [ngStyle]="{'background-color':selectedGroup.color}" ngbDropdownToggle>{{selectedGroup.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" *ngFor="let group of groups" [ngStyle]="{'background-color':group.color}" (click)="selectGroup(group)">{{group.name}}</button>
            </div>
          </div>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              עדיפות בקבוצה <span style="color:red">*</span>
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.group_order" [ngClass]="{'border border-danger': editClient.controls.group_order?.invalid}" OnlyNumber="true" id="group_order" name="group_order" required>
        </div>

        <h5 class="mb-3">שעות הספקה</h5>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              שעת אספקה 1
            </div>
          </div>
          <ngb-timepicker [(ngModel)]="default_time1" id="default_time1" name="default_time1" dir="ltr"></ngb-timepicker>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              שעת אספקה 2
            </div>
          </div>
          <ngb-timepicker [(ngModel)]="default_time2" id="default_time2" name="default_time2" dir="ltr"></ngb-timepicker>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              שעת אספקה 3
            </div>
          </div>
          <ngb-timepicker [(ngModel)]="default_time3" id="default_time3" name="default_time3" dir="ltr"></ngb-timepicker>
        </div>
      </div>
      <div class="col-4 border-left">
        <h5 class="mb-3">מחירים</h5>

        <div class="input-group mb-2" *ngFor="let price of client.prices">
            <div class="input-group-prepend">
              <div class="input-group-text fixed-width">
              {{price.product.name}}
              </div>
            </div>
            <input type="text" class="form-control center" placeholder="לא פעיל" OnlyNumber="true" [(ngModel)]="price.price" id="price{{price.product.product_id}}" name="price{{price.product.product_id}}">
            <div class="input-group-append">
              <span class="input-group-text">₪</span>
            </div>
          </div>
      </div>
      <div class="col-3 border-left">
        <h5 class="mb-3">אריזות</h5>

        <div class="input-group mb-2" *ngFor="let package of this.client.packages">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id="check{{package.product.product_id}}" [disabled]="package.product.package==1" [checked]="package.package_enabled" (change)="packageChecked($event, package.product.product_id)">
                </div>
              </div>
            <input type="text" [ngClass]="(package.package_enabled)?'enabled-package':''" class="form-control center" placeholder="תפזורת" readonly OnlyNumber="true" [(ngModel)]="package.price" id="package{{package.product.product_id}}" name="package{{package.product.product_id}}">
            <div class="input-group-append">
              <span class="input-group-text">יח'</span>
            </div>
          </div>
      </div>
    </div>
    <div class="d-flex w-100 pt-3">
      <button type="submit" class="btn btn-primary  mr-2" (click)="save()" [disabled]="editClient.invalid">
        <i class="fa fa-save"></i> שמור
      </button>
      <button type="button" class="btn btn-secondary " [routerLink]="['/clients']">
        <i class="fa fa-close"></i> סגור</button>
    </div>
  </div>
</form>