<form #editClient="ngForm" class="default-width-form center-block">
  <div class="form-group">
    <h3 class="mb-3">{{title}} לקוח</h3>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">
          שם הלקוח
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="client.name" id="name" name="name" required>
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">
          ח"פ/עוסק מורשה
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="client.hetpei" id="hetpei" name="hetpei">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">
          כתובת למשלוח
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="client.address" id="address" name="address">
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text fixed-width">
            טלפון
          </div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="client.phone" id="phone" name="phone">
      </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text fixed-width">
          דוא"ל
        </div>
      </div>
      <input type="text" class="form-control" [(ngModel)]="client.email" id="email" name="email">
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text fixed-width">
            איש קשר
          </div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="client.contact_person" id="contact_person" name="contact_person">
      </div>
  
      <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text fixed-width">
              משך נסיעה
            </div>
          </div>
          <input type="text" class="form-control" [(ngModel)]="client.travel_duration" id="travel_duration" name="travel_duration">
        </div>
    
    <div class="d-flex w-100 pb-3">
      <button type="submit" class="btn btn-primary col mr-2" (click)="save(true)" [disabled]="editClient.invalid">
        <i class="fa fa-save"></i> שמור
      </button>
      <span class="col-2"></span>
      <button type="button" class="btn btn-secondary col" [routerLink]="['/clients']">
        <i class="fa fa-close"></i> סגור</button>
    </div>
  </div>
</form>