<div class="page-content center">
    <div>
        <div id="login-box" class="login-box visible widget-box no-border center p-4">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger pb-3">
                        <i class="icon-coffee green"></i>
                        כניסה לחשבון
                    </h4>

                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <div class="input-group mb-2 rtl">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="שם משתמש" name="username" [(ngModel)]="model.username" #username="ngModel"
                                    required focus/>
                                <div *ngIf="f.submitted && !username.valid" class="help-block">חובה להזין שם משתמש</div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-lock"></i>
                                    </div>
                                </div>
                                <input type="password" class="form-control" placeholder="סיסמה" name="password" [(ngModel)]="model.password" #password="ngModel"
                                    required/>
                                <div *ngIf="f.submitted && !password.valid" class="help-block">חובה להזין סיסמה</div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <button [disabled]="loading || f.invalid" type="submit" class="width-35 btn btn-sm btn-primary">
                                    <i class="fa fa-sign-in"></i>
                                    כניסה לחשבון
                                </button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>