<div class="h-75 w-50 center" style="position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0;">
    <div class="" style="position: relative; top: 20%;">
        <button type="button" class="h-100 w-100 btn btn-outline-primary btn-lg mb-3" [routerLink]="['/orders']">הזמנות למחר</button>
        <button type="button" class="h-100 w-100 btn btn-outline-primary btn-lg mb-3">הזמנות - יומית לפי תאריך</button>
        <button type="button" class="h-100 w-100 btn btn-outline-primary btn-lg mb-3">זיכויים יומיים לפי תאריך</button>
        <button type="button" class="h-100 w-100 btn btn-outline-primary btn-lg mb-3" [routerLink]="['/clients']">לקוחות</button>
        <button type="button" class="h-100 w-100 btn btn-outline-primary btn-lg">דוח הזמנות פחות זיכויים</button>
    </div>

</div>
